.price-container {
    width: 20rem;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--text-color-primary);
    font-size: 1.05rem;
    letter-spacing: 0.07rem;
    background-color: #fafafa;
    border-radius: 15px;
}

.price-star {
    justify-content: space-between;
}

.gap-dates {
    gap: 1rem;
    padding-top: 2rem;
}

.guests {
    border: 1px solid var(--container-border-color);
    margin-top: 1.5rem;
    height: 4.3rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    display: flex;
    flex-direction: column;
}

.gap-guests-single-page {
    gap: 0.1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.guests-number {
    border: #fafafa;
    font-size: 1.4rem;
    background-color: #fafafa;
    width: 1rem;
    text-align: center;
    pointer-events: none;
}

.guests-number:focus {
    outline: none;
}

.reserve {
    width: 100%;
    height: 3rem;
    background-color: rgb(240, 151, 35);
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: bold;
    border: #fafafa;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

.reserve:hover {
    cursor: pointer;
}

.price-calculation {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.price-calculation-container {
    border-bottom: 1px solid var(--container-border-color);
    padding-bottom: 0.75rem;
}

.service-fee {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.price-in-container {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.check-in-out {
    font-weight: 500;
}

.star-font-text {
    font-size: 1.5rem;
}

.check-in-container-single-hotel {
    width: 9rem;
}

.check-in-out-parent-container {
    
}

.single-page-date {
    width: 2px;
}

.gap-icon-number-single-page {
    gap: 0.5rem;
}

.plus-minus-single-page {
    border: 1px solid var(--text-color-secondary);
    border-radius: 50%;
    user-select: none;
}

.plus-minus-single-page:hover {
    cursor: pointer;
}
