.details-1 {
    border-bottom: 1px solid var(--container-border-color);
}

.details-2 {
    border-bottom: 1px solid var(--container-border-color);
}

.gap-details {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.gap-details-2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.place-offers-text {
    color: var(--text-single);
}

.head-text {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-color-secondary);
}

.body-text {
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    color: var(--text-single);
}

.gap-icon-text {
    gap: 1rem;
    color:rgb(200, 128, 5);
}

.gap-text {
    padding-bottom: 1.25rem;
}

.radio-button {
    font-size: 0.8rem;;
}

.column-gap {
    gap: 2rem;
}