.parent-top {
    overflow: visible; 
}

.main {
    padding: 11rem 3rem 2rem 3rem;
}


.gap-larger {
    gap: 2.75rem;
}

.end-line {
    background-color: rgb(240, 151, 35);
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.loading {
    padding-bottom: 0.2rem;
    background-color: rgb(28, 154, 239);
    color: var(--color-secondary);
    font-size: 1.5rem;
    text-align: center;
}

.searchList {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 3;
    top: 7rem;
    left: 22.4rem;
    padding-top: 0.5rem;
    width: 25rem;
    padding-left: 0.8rem;
    border-radius: 5px;
    gap: 0.4rem;
    background-color: #fafafa;
    font-size: 1.2rem;
    color: rgb(116, 116, 116);
}

.searchList:hover {
    cursor: pointer;
}

.toast-notify-login {
    background-color: #ebc183;
    color: #080808;
    font-size: 13px;
    --toastify-color-progress-success: #e99218;
    --toastify-color-success: #e99218;
    --toastify-icon-color-success: #098963d7;
}

.toast-notify-logout {
    background-color: #ebc183;
    color: #080808;
    font-size: 13px;
    --toastify-color-progress-success: #e99218;
    --toastify-color-success: #e99218;
    --toastify-icon-color-success: #098963d7;
}

.NoData {
    display: flex;
    justify-content: center;
    padding-top: 22rem;
    font-size: 2rem;
}

